friend-panel {
    width: 14em;
    top: 4em;

    .empty-list-label {
        font-size: 0.75em;
        color: gray;
    };
}

friend-panel .panel-title {
    margin-bottom: 0.4em;
}

friend-panel button.styled {
    font-size: 0.75em;
}

#add-friend-name {
    width: 100%;
    margin-top: 5px;
}

#friend-action-feedback {
    margin-top: 5px;
    font-size: 0.9em;
}

.friend-list {
    max-height: 8em;
    overflow-y: auto;
}

.friend-requests-list {
    margin-bottom: 15px;

    max-height: 8em;
    overflow-y: auto;
}

friend-entry {
    font-size: 0.75em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;

    .friend-entry-label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip ellipsis;
        /* show as pointer because clicking on the label opens up the profile panel for the account */
        cursor: pointer;
    };

    .button-container {
        display: flex;
        gap: 4px;  
    }

    button {
        color: white;
        border: none;
        padding: 4px 8px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 0.8em;
    }

    .join-lobby-button {
        background-color: green;
    };

    .remove-button {
        background-color: red;
        /* margin for scroll bar */
        margin-right: 20px;
    };
}

friend-request-entry {
    font-size: 0.75em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;

    .friend-request-entry-label {
        max-width: 8em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip ellipsis;
        /* show as pointer because clicking on the label opens up the profile panel for the account */
        cursor: pointer;
    };

    button {
        border: none;
        padding: 4px 8px;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 5px;
        color: white;
    };

    .accept-button {
        background-color: green;
    };

    .decline-button {
        background-color: gray;
    };

    .cancel-button {
        background-color: red;
    };

    .clear-declined-button {
        background-color: gray;
    }
}
