body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/box-art.jpg");
}

/* Firefox only query */
@supports (not (-moz-appearance:none)) {
    body {
        /* Applying blur filter twice solves issues
        with blur dissappearing on browsers other than firefox ?
        Blur filter is still needed in .root */
        backdrop-filter: blur(4px);
    }
}

.root {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(4px);
}

.view {
    display: none;  /* Hide view. Updated by ViewMgr */
}

.view > section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* MOBILE VIEW */
@media all and (max-device-width: 480px) {

}


/* TABLET VIEW */
@media all and (max-device-width: 820px) {

}
