#ui {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    /* display: grid; */
    pointer-events: none;
}

#ui section {
    display: flex;
}

#ui .clickable {
    pointer-events: auto;
}

.connection {
    position: absolute;
    flex-direction: column;
}

.connection > * {
    margin: 0px;
    margin-left: 4px;
}

.chat {
    position: relative;
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    pointer-events: none;
}

#chatform {
    pointer-events: all;
}

input[type='text'] {
    font-size: inherit;
}

#text, .msg {
    font-size: medium;
}

#log {
    width: 14em;
    height: 10em;
    overflow: auto;
    margin: 0.5em 0;
}

#text {
    width: 80%;
}

.msg {
    margin: 0;
    padding: 0.25em 0.5em;
}

.msg--status {
    /* a light yellow */
    background-color: #ffffc97F;
}

.msg--message {
    /* a light blue */
    background-color: #d2f4ff7F;
}

.msg--error {
    background-color: #ffc0cb7F;
}

/* PlayerUI */


.player-ui * {
    padding: 0px;
    margin: 0px;
}

.player-health-ui,
.player-cards-ui,
.player-discard-ui {
    display: flex;
    align-items: center;
}

.player-health-icon::before {
    content: "❤️ ";
}

.player-cards-icon::before {
    content: "🃏 ";
}

.player-discard-icon::before {
    content: "🃏 ";
}


/* Card Tooltip */


.card-tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.1em;
    margin: 1em 0.2em 1em 0.2em;
    border: solid 0.2em whitesmoke;
    border-radius: 0.4em;
    background-color: #404060;
}

.card-tooltip-name {
    min-width: 2em;
    margin: 0.2em;
    padding: 0.1em;
    color: white;
}

.card-tooltip-desc {
    min-width: 6em;
    max-width: 12em;
    min-height: 3em;
    margin: 0.3em;
    padding: 0.2em;
    background-color: whitesmoke;
    border: solid 0.2em #000000;
    border-radius: 0.4em;
}


/* Dice Anim */

.dice {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.dice-player-name {
    font-size: x-large;
    border-radius: 0.4em;
    background-color: whitesmoke;
    padding: 0.2em 0.4em;
}


/* Turn Timer */

#turn-timer {
    font-size: xx-large;
    font-weight: bold;
}


/* MOBILE VIEW */
@media (max-device-width: 720px) and (orientation: landscape) {
    body {
        font-size: smaller;
    }

    #turn-timer {
        font-size: x-large;
    }
}

