#ui {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    /* display: grid; */
    pointer-events: none;
}

#ui section {
    display: flex;
}

#ui .clickable {
    pointer-events: auto;
}

.connection {
    position: absolute;
    flex-direction: column;
}

.connection > * {
    margin: 0px;
    margin-left: 4px;
}

.chat {
    position: relative;
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    pointer-events: none;
}

#chatform {
    pointer-events: all;
}

input[type='text'] {
    font-size: inherit;
}

#text, .msg {
    font-size: medium;
}

#log {
    width: 14em;
    height: 10em;
    overflow: auto;
    margin: 0.5em 0;
}

#text {
    width: 80%;
}

.msg {
    margin: 0;
    padding: 0.25em 0.5em;
}

.msg--status {
    /* a light yellow */
    background-color: #ffffc97F;
}

.msg--message {
    /* a light blue */
    background-color: #d2f4ff7F;
}

.msg--error {
    background-color: #ffc0cb7F;
}

/* PlayerUI */


.player-ui * {
    padding: 0px;
    margin: 0px;
}

.player-health-ui,
.player-cards-ui,
.player-discard-ui {
    display: flex;
    align-items: center;
}

.player-health-icon::before {
    content: "❤️ ";
}

.player-cards-icon::before {
    content: "🃏 ";
}

.player-discard-icon::before {
    content: "🃏 ";
}


/* Card Tooltip */


.card-tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2px;
    margin: 1em 0.2em 1em 0.2em;
    border: solid 4px whitesmoke;
    border-radius: 12px;
    background-color: #404060;
}

.card-tooltip-name {
    min-width: 2em;
    margin: 4px;
    padding: 2px;
    color: white;
}

.card-tooltip-desc {
    min-width: 6em;
    max-width: 12em;
    min-height: 3em;
    margin: 8px;
    padding: 4px;
    background-color: whitesmoke;
    border: solid 4px #000000;
    border-radius: 12px;
}

